.wp-block-spacer{
    &.is-style {
        &-spacing {
            position: relative;

            &:after {
                content: "";
                display: block;
                clear: both;
                width: 100%;
                height: 100%;
                background-color: currentColor;
                border-radius: 100%;
                left: 0;
                top: 0;
                position: absolute;
            }
        }
    }
}
